* {
  box-sizing: border-box;
}

img {
  // max-width: 100%;
  display: inline-block;
}

input {
  outline: none;
}

input::-ms-clear {
  width: 0;
  height: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  outline: none;

  &:hover {
    text-decoration: none;
    transition: 0.3s;
  }
}

body {
  position: relative;
  color: $color-main-text;
}

ul,
ol {
  list-style-type: none;
}

body,
figure,
ul,
ol {
  margin: 0;
  padding: 0;
  font-family: $main-font;
  font-weight: 400;
  font-size: 14px;
}

li {
  list-style: none;
  outline: none;
}

.main-color-accent {
  color: $main-accent-color;
}

.second-color-accent {
  color: $second-accent-color;
}

.color-attention {
  color: $color-attention;
  font-weight: 700;
}