.calendar {
  .section__title {
    max-width: 727px;
    margin: 0 auto 47px;
  }

  .hero__text {
    flex-basis: 50%; // for IE
  }

  .hero-features__marker {
    width: auto;
    height: auto;
    background-color: transparent;
    box-shadow: none;
  }

  .hero-features__item {
    max-width: none;
    align-items: flex-start;

    &:not(:last-child) {
      margin-bottom: 37px;
    }
  }

  .hero-features__item-title {
    margin-bottom: 14px;
    display: block;
    font-size: 19px;
    font-weight: 700;
    line-height: 24px;
  }

  .hero-features__text {
    margin: 8px 0 0 18px;
    line-height: 23px;
  }

  .product {
    position: absolute;
    left: 50%;
    top: 41%;
    transform: translateX(-167px);
  }

  .product__discont {
    color: #000000;
    background: url("../img/bg-discont-grad.svg") no-repeat;
  }
}

@media (max-width: 1023px) {
  .calendar .hero-features__item-title {
    margin-bottom: 10px;
  }
}

@media (max-width: 479px) {
  .calendar {
    .section__title {
      font-size: 30px;
      margin-bottom: 25px;
    }

    .product {
      min-width: auto;
      width: 100%;
      padding-bottom: 30px;
      position: static;
      background: none;
      text-align: center;
      transform: translateY(0);

      &__discont {
        left: 168px;
        top: -46px;
      }

      &__image {
        width: 250px;
      }
    }

    .hero-features__item:not(:last-child) {
      margin-bottom: 23px;
    }
  }
}

@media (min-width: 480px) and (max-width: 639px) {
  .calendar {
    .product {
      margin-bottom: 30px;
      position: static;
      transform: translateY(0);

      &__discont {
        right: 97px;
        top: -40px;
      }
    }

    .hero-features__item:not(:last-child) {
      margin-bottom: 23px;
    }
  }
}

@media (min-width: 640px) and (max-width: 767px) {
  .calendar {
    .product {
      padding-bottom: 30px;
      position: static;
      transform: translateY(0);

      &__discont {
        right: 97px;
        top: -40px;
      }
    }
  }
}

@media (max-width: 767px) {
  .calendar {
    .section__title {
      margin-bottom: 30px;
    }

    .hero-features__list {
      margin-bottom: 30px;
      flex-direction: column;
    }

    .hero__text {
      flex-basis: auto; //for IE
    }

    .product::before {
      left: 270px;
      top: 93px;
    }

    .product__discont {
      left: 280px;
      top: -39px;
    }

    .hero-features__item:not(:last-child) {
      margin-bottom: 23px;
    }
  }
}

@media (max-width: 479px) {
  .calendar {
    .product:before {
      left: 168px;
    }

    .product__discont {
      left: 168px;
    }
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .calendar {
    .section__title {
      margin-bottom: 30px;
    }

    .product {
      min-width: auto;
      max-width: 390px;
      margin-top: 75px;
      margin-bottom: 40px;
      position: static;
      transform: translateY(0);
      background: none;

      &__discont {
        right: 20px;
      }

      &__image {
        max-width: 95%;
      }
    }

    .hero-features__list {
      display: flex;
      flex-direction: column;
    }

    .product::before {
      left: 210px;
      top: 45px;
    }

    .product__discont {
      left: 233px;
      top: -39px;
    }

    .hero-features__item:not(:last-child) {
      margin-bottom: 23px;
    }
  }
}

@media (min-width: 1024px) and (max-width: 1200px) {
  .calendar {
    .section__title {
      margin-bottom: 45px;
    }

    .hero__wrapper {
      flex-direction: column;
      justify-content: space-around;
    }

    .hero-features__list {
      max-width: 680px;
      margin: 0 auto 30px;
      display: flex;
      flex-direction: column;
    }

    .hero__text {
      max-width: none;
    }

    .order-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }

    .product {
      position: static;
      transform: translateY(10%);
    }
  }
}

@media (min-width: 1200px) {
  .calendar {
    .product {
      // left: -502px;
    }
  }
}