.components {
  background: url("../img/bg-promo.png") 50% no-repeat;
  background-size: cover;

  &__wrapper {
    padding: 12px 0 82px;
    display: flex;
    background: url("../img/bg-components.png") 50% bottom no-repeat;
    background-size: contain;
  }
}

.components-list {
  display: flex;
  flex-direction: column;

  &:last-child {

    .components-list__header {
      justify-content: flex-start;
      text-align: left;
    }

    .components-list__title-wrapper {
      order: 1;
    }

    .components-list__img {
      margin: 0 16px 0 0;
      order: 0;
    }

    .components-list__discription {
      margin-bottom: 0;
      text-align: left;
    }
  }

  &__item {
    max-width: 375px;
    min-height: 181px;
    position: relative;

    &:first-child {
      margin-bottom: 40px;
    }

    &:hover {
      cursor: pointer;

      .components-list__img {
        border: 4px solid $color-attention;
        box-shadow: inset 0 0 0 2px $color-attention;
      }
    }
  }

  &__title {
    color: #000000;
    font-size: 19px;
    line-height: 22px;
  }

  &__subtitle {
    font-style: italic;
    color: $main-accent-color;
    line-height: 20px;
  }

  &__header {
    display: flex;
    justify-content: flex-end;
    text-align: right;
    position: relative;
  }

  &__img {
    width: 114px;
    height: 114px;
    margin-left: 16px;
    flex-shrink: 0;
    border-radius: 100px;
    border: 4px solid $main-accent-color;
    box-shadow: inset 0 0 0 2px $main-accent-color;
    z-index: 1;
  }

  &__discription {
    margin-bottom: 0;
    font-size: 18px;
    text-align: right;
  }
}

.components-list__header:before {
  width: 180px;
  height: 265px;
  content: "";
  position: absolute;
  display: none;
}

.components-list__item_serenoa {
  .components-list__header:before {
    right: -176px;
    bottom: -205px;
    background: url(../img/comp-img1-before.svg) no-repeat;
  }
}

.components-list__item_horsetail {
  .components-list__header:before {
    width: 195px;
    height: 64px;
    right: -173px;
    bottom: 11px;
    background: url(../img/comp-img2-before.svg) no-repeat;
    transform: rotate(25deg);
  }
}

.components-list:last-child {
  .components-list__item_orthosiphon {
    .components-list__header:before {
      left: -175px;
      bottom: -203px;
      background: url(../img/comp-img3-before.svg) no-repeat;
    }
  }

  .components-list__item_goldenrod {
    .components-list__header:before {
      width: 152px;
      height: 93px;
      left: -128px;
      bottom: 54px;
      background: url(../img/comp-img4-before.svg) no-repeat;
    }
  }
}

.components-list__item:hover {
  .components-list__header::before {
    display: block;
  }
}

@media (max-width: 1199px) {

  .components__wrapper {
    padding-bottom: 50px;
    justify-content: space-between;
  }

  .components-list:last-child {
    align-items: flex-start;
  }

  .components-list__item_serenoa {
    .components-list__header:before {
      right: -128px;
      bottom: -188px;
    }
  }

  .components-list__item_horsetail {
    .components-list__header:before {
      right: -126px;
      bottom: 34px;
      transform: rotate(27deg);    }
  }

  .components-list:last-child {
    .components-list__item_orthosiphon {
      .components-list__header:before {
        left: -125px;
        bottom: -187px;
      }
    }

    .components-list__item_goldenrod {
      .components-list__header:before {
        left: -94px;
        transform: rotate(15deg);
        bottom: 54px;
      }
    }
  }
}

@media (max-width: 1023px) {

  .components__wrapper {
    width: 90%;
    margin: auto;
    padding-bottom: 0;
  }

  .components-list {
    flex-direction: column;
    justify-content: space-between;

    &__item {
      width: 375px;

      &:hover {
        cursor: auto;

        .components-list__img {
          border: 4px solid $main-accent-color;
          box-shadow: inset 0 0 0 2px $main-accent-color;
        }
      }
    }

    &__header {
      justify-content: flex-start;
      text-align: left;
    }

    &__title-wrapper {
      order: 1;
    }

    &__img {
      margin: 0 16px 0 0;
      order: 0;
    }

    &__discription {
      padding: 0 5px;
      text-align: left;
    }
  }

  .components-list:first-child {
    margin-bottom: 40px;
  }

  .components-list .components-list__item:first-child {
    margin-right: 15px;
  }

  .components-list__item,
  .components-list__item:first-child {
    margin-bottom: 0;
  }

  .components-list__item_serenoa {
    .components-list__header {
      &::before {
        right: -137px;
        bottom: -265px;
      }
    }
  }

  .components-list__item_horsetail {
    .components-list__header {
      &::before {
        right: -137px;
        bottom: 113px;
      }
    }
  }

  // lines and dots for 2nd list
  .components-list:last-child {
    .components-list__item_orthosiphon {
      .components-list__header {
        &::before {
          left: -137px;
          bottom: -253px;
        }
      }
    }

    .components-list__item_goldenrod {
      .components-list__header {
        &::before {
          left: -74px;
          bottom: 325px;
        }
      }
    }
  }
}

@media (max-width: 1023px) {
  .components-list {
    width: 32%;
    justify-content: flex-start;
  }

  .components-list__item {
    min-height: auto;
  }

  .components-list:last-child {
    align-items: flex-start;
  }

  .components-list__item:hover {
    .components-list__header::before {
      display: none;
    }
  }

  .components__wrapper {
    flex-direction: column;
    background: none;
  }

  .components-list {
    width: auto;
    flex-direction: row;
    justify-content: space-around;
  }
}

@media (max-width: 767px) {
  .components-list {
    width: auto;
  }

  .components__wrapper {
    width: 100%;
  }

  .components-list:first-child {
    margin-bottom: 30px;
  }

  .components-list:last-child {
    align-items: flex-start;
  }
}

@media (max-width: 639px) {
  .components__wrapper {
    max-width: 420px;
  }

  .components-list:first-child {
    margin-bottom: 18px;
  }

  .components-list .components-list__item:first-child {
    margin-bottom: 18px;
    margin-right: 0;
  }

  .components-list {
    flex-direction: column;
  }

  .components-list__item {
    max-width: none;
    width: auto;
  }

  .components-list__item:first-child {
    margin-bottom: 0;
  }
}

@media (min-width: 480px) and (max-width: 639px) {
  .components__wrapper {
    padding-bottom: 0;
  }
}

@media (max-width: 479px) {

  .components__wrapper {
    flex-direction: column;
  }

  .components-list__header {
    flex-direction: column;
    align-items: center;
  }

  .components-list__title-wrapper {
    text-align: center;
  }

  .components-list__img {
    margin: 0;
  }

  .components-list:last-child .components-list__img {
    margin: 0;
  }
  .components-list__discription {
    text-align: center;
  }

  .components-list:last-child .components-list__discription {
    text-align: center;
  }

  .components-list {
    width: auto;
  }

  .components-list__title {
    margin: 5px 0;
  }

  .components-list__discription {
    margin-top: 5px;
  }

  .components-list:first-child {
    margin-bottom: 0;
  }

  .components-list__item {
    min-height: auto;
    margin-bottom: 15px;
  }

  .components-list:last-child .components-list__item:last-child {
    margin-bottom: 0;
  }

  .components-list {
    justify-content: space-around;
  }

  .components-list,
  .components-list:last-child {
    flex-direction: column;
    align-items: center;

    .components-list__item {
      width: 100%;
    }
  }
}

@media (min-width: 1200px) {
  .components__wrapper {
    justify-content: space-between;
  }
}