.components {
  background: url("../img/bg-promo.png") 50% no-repeat;
  background-size: cover;

  &__wrapper {
    padding: 12px 0 82px;
    display: flex;
    background: url("../img/bg-components.png") 50% bottom no-repeat;
    background-size: contain;
  }
}

.components-list {
  display: flex;
  flex-direction: column;

  &:last-child {

    .components-list__header {
      justify-content: flex-start;
      text-align: left;
    }

    .components-list__title-wrapper {
      order: 1;
    }

    .components-list__img {
      margin: 0 16px 0 0;
      order: 0;
    }

    .components-list__discription {
      margin-bottom: 0;
      text-align: left;
    }
  }

  &__item {
    max-width: 375px;
    min-height: 181px;

    &:first-child {
      margin-bottom: 40px;
    }

    &:hover {
      cursor: pointer;

      .components-list__img {
        border: 4px solid $color-attention;
        box-shadow: inset 0 0 0 2px $color-attention;
      }
    }
  }

  &__title {
    color: #000000;
    font-size: 19px;
    line-height: 22px;
  }

  &__subtitle {
    font-style: italic;
    color: $main-accent-color;
    line-height: 20px;
  }

  &__header {
    display: flex;
    justify-content: flex-end;
    text-align: right;
  }

  &__img {
    width: 114px;
    height: 114px;
    margin-left: 16px;
    flex-shrink: 0;
    border-radius: 100px;
    border: 4px solid $main-accent-color;
    box-shadow: inset 0 0 0 2px $main-accent-color;
  }

  &__discription {
    margin-bottom: 0;
    font-size: 18px;
    text-align: right;
  }
}

@media (max-width: 1023px) {

  .components__wrapper {
    padding-bottom: 0;
  }

  .components-list {
    flex-direction: column;
    justify-content: space-between;
  }

  .components-list,
  .components-list:last-child .components-list {

    &__header {
      flex-direction: column;
      text-align: left;
      text-align: center;
    }

    &__title-wrapper {
      order: 1;
    }

    &__img {
      margin: 0 auto;
      order: 0;
    }

    &__discription {
      padding: 0 5px;
      text-align: center;
    }
  }
}

@media (max-width: 1199px) {

  .components__wrapper {
    padding-bottom: 50px;
    justify-content: space-between;
  }

  .components-list:last-child {
    align-items: flex-start;
  }
}

@media (max-width: 1023px) {
  .components-list {
    width: 32%;
    justify-content: flex-start;
  }

  .components-list__item {
    min-height: 334px;
  }

  .components-list:last-child {
    align-items: flex-start;
  }
}

@media (max-width: 767px) {
  .components-list {
    width: auto;
  }

  .components-list__item {
    min-height: 295px;
  }

  .components-list:last-child {
    align-items: flex-start;
  }

  .components__wrapper {
    background: none;
  }
}

@media (max-width: 639px) {
  .components-list {
    width: 50%;
  }

  .components-list__item {
    min-height: 370px;
  }

  .components-list .components-list__item:first-child {
    margin-bottom: 15px;
  }

  .components-list__item:first-child {
    margin-bottom: 0;
  }
}

@media (min-width: 480px) and (max-width: 639px) {
  .components__wrapper {
    padding-bottom: 0;
  }
}

@media (max-width: 479px) {

  .components__wrapper {
    flex-direction: column;
  }

  .components-list {
    width: auto;
  }

  .components-list__item {
    min-height: auto;
    margin-bottom: 15px;
  }

  .components-list:last-child .components-list__item:last-child {
    margin-bottom: 0;
  }

  .components-list {
    justify-content: space-around;
  }

  .components-list,
  .components-list:last-child {
    flex-direction: column;
    align-items: center;

    .components-list__item {
      width: 100%;
    }
  }
}

@media (min-width: 1200px) {
  .components__wrapper {
    justify-content: space-between;
  }
}