.doctor {

  .container {
    background: url("../img/bg-doctor.png") -370px 0 no-repeat;
    background-size: auto;
  }

  .section__title {
    max-width: 892px;
    // margin: 0 auto;
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 18px 0 0 auto;
    position: relative;
  }

  &__image,
  &__text {
    flex-basis: 50%;
  }

  &__image {
    display: flex;
    align-items: flex-end;
  }

  &__text {
    padding: 80px 0 90px;
  }

  &__photo {
    max-width: 100%;
    display: block;
    margin: 0 auto;
  }

  &__description {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 24px;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 50px;
    }

    &-wrapper {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: -50px;
        width: 24px;
        height: 17px;
        background: url("../img/icon-quotes.png") no-repeat;
      }
    }
  }

  &__position {
    font-size: 17px;
    font-style: italic;
    color: #555555;
    position: relative;
    line-height: 24px;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: -26px;
      width: 30px;
      height: 4px;
      background-color: $main-accent-color;
    }
  }

  &__name {
    margin: 0;
    font-size: 24px;
    color: #000000;
    font-weight: 700;
  }
}

@media (min-width: 1200px) {
  .doctor__text {
    padding-right: 60px;
  }

  .doctor__text,
  .doctor__image {
    width: 50%;
  }
}

@media (max-width: 1199px) {
  .doctor__photo {
    max-height: 588px;
  }

  .doctor__text {
    padding-top: 32px;
    padding-bottom: 40px;
  }
  .doctor__description-wrapper::before {
    top: -30px;
  }
}

@media (min-width: 1024px) {

  .doctor.section {
    padding-bottom: 0;
  }

  .doctor__wrapper {
    flex-wrap: nowrap;
  }
}

@media (max-width: 767px) {
  .doctor .container {
    background: none;
  }

  .doctor__wrapper {
    margin: 28px 0 0 auto;
    flex-direction: column;
  }

  .doctor__image {
    flex-basis: auto; //for IE
  }

  .doctor__text {
    padding-top: 40px;
    padding-bottom: 35px;
    flex-basis: auto; //for IE
  }
}

@media (max-width: 479px) {
  .doctor__name {
    font-size: 20px;
  }
}