.fast {
  background: url("../img/bg-promo.png") 50% no-repeat;
  background-size: cover;

  .container {
    padding: 88px 10px;
    background: url("../img/bg-circles.png") 100% 0 no-repeat;
    background-size: contain;
    position: relative;
  }

  &__title {
    color: #000000;
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    position: relative;

    &:before {
      content: "";
      position: absolute;
      width: 50px;
      height: 4px;
      background-color: $main-accent-color;
      left: 0;
      top: -34px;
    }
  }

  &__discription {
    max-width: 500px;
    margin: 36px 0;
    font-size: 18px;
    line-height: 28px;
  }

  &__button.form__submit {
    max-width: 360px;
  }

  &__people {
    position: absolute;
    right: 74px;
    bottom: 0;

    &-photo {
      display: block;
    }
  }
}

@media (max-width: 1199px) {
  .fast__discription {
    max-width: 450px;
  }
}

@media (max-width: 1023px) {
  .fast .container {
    padding: 40px 10px;
    background: none;
    text-align: center;
  }

  .fast__title:before {
display: none;
  }

  .fast__title {
    display: inline-block;
    margin: 0;
  }

  .fast__discription {
    margin: 36px auto;
  }

  .fast__people {
    display: none;
  }
}

@media (max-width: 767px) {
  .fast .container {
    padding: 35px 10px;
    background: none;
  }

  .fast__people {
    display: none;
  }

  .fast__button {
    display: block;
    margin: 0 auto 3px;
  }
}


@media (max-width: 639px) {
  .fast .container {
    text-align: center;
  }
}

@media (max-width: 480px) {
  .fast .container {
    padding: 30px 10px;
  }
}