.footer {
  padding: 68px 0 50px;
  color: #666666;
}

.rom__img {
  width: 54px;
  height: auto;
}

.rom__svg {
  fill: $main-accent-color;
}

.rom__link {
  margin-bottom: 8px;
  color: #666666;

  &:hover {
    text-decoration: none;
  }
}

.rom__right {
  .rom__text:first-child {
    margin-bottom: 8px;
  }
}

.rom__img {
  width: 54px;
  height: 54px !important;
  pointer-events: none;
}

.rom__link:hover {
  color: $main-accent-color;
}

@media (max-width: 1199px) {
  .footer {
    padding: 40px 0;
  }
}

@media (max-width: 1023px) {
  .footer {
    padding: 30px 0;
  }
}

@media (max-width: 767px) {
  .footer {
    padding: 20px 0;
  }
}