.footer {
  padding: 68px 0 50px;
  color: #666666;
}

.rom__img {
  width: 54px;
  height: auto;
}
.rom__svg {
  fill: $main-accent-color;
}

.rom__link {
  margin-bottom: 8px;
  color: #666666;

  &:hover {
    text-decoration: none;
  }
}

.rom__right {
  .rom__text:first-child {
    margin-bottom: 8px;
  }
}