.ever-popup-btn:hover {
  cursor: pointer;
}

.hero {
  padding: 28px 0 50px;
  min-height: 723px;
  background:
    url("../img/promo-man.png") 50% 100% no-repeat,
    url("../img/bg-promo.png") 50% no-repeat;
  background-size: auto, cover;
  position: relative;

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__subtitle {
    margin-bottom: 63px;
    color: #000000;
    font-size: 22px;
    font-weight: 900;
    line-height: 26px;
  }
}

.hero.hero_last {
  .product {
    bottom: -42px;
  }
}

.hero-features {
  &__title {
    color: #000000;
    font-size: 18px;
    line-height: 26px;
    position: relative;

    &::before {
      content: "";
      display: block;
      height: 4px;
      width: 40px;
      background-color: $main-accent-color;
      position: absolute;
      top: -34px;
    }
  }

  &__item {
    max-width: 291px;
    display: flex;
    align-items: center;
    font-size: 18px;
  }

  &__marker {
    width: 32px;
    height: 32px;
    padding-top: 0; // for IE
    display: inline-flex;
    flex-shrink: 0;
    justify-content: center;
    border-radius: 100%;
    background-color: $color-attention;
    box-shadow: 0px 0px 0px 6px rgba(244, 230, 208, 1);

    &-img {
      width: 24px;
      height: 32px;
    }
  }

  &__text {
    margin-left: 18px;
    line-height: 26px;
  }
}

.logo {
  &__title {
    margin: 0 0 15px;
    font-size: 60px;
    color: #777777;
    text-transform: uppercase;
    line-height: 46px;

    &_accent {
      color: $main-accent-color;
    }
  }
}

.bulits {
  margin-bottom: 62px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &__wrapper {
    min-width: 430px;
    display: flex;
    justify-content: space-between;
  }

  &__item {
    display: flex;
    flex-basis: 25%;
    align-items: center;
  }

  &__img {
    width: 32px;
    height: 32px;
  }

  &__text {
    margin-left: 16px;
    display: flex;
    align-items: center;
    color: #555555;
  }

  &__call {
    margin-left: 10px;
    font-weight: 700;
    color: #000000;
    line-height: 12px;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
  }
}

.justify-right {
  justify-content: flex-end;
}

.product {
  width: 450px;
  height: 310px;
  position: absolute;
  bottom: -41px;
  left: 50%;
  transform: translateX(-111px);

  &::before {
    content: "";
    width: 181px;
    height: 193px;
    right: -26px;
    bottom: 24px;
    position: absolute;
    background: url("../img/grass.png") 50% no-repeat;
    z-index: 5;
  }

  &__discont {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 85px;
    top: -40px;
    font-size: 32px;
    font-weight: 700;
    color: #ffffff;
    line-height: 18px;
    background: url("../img/bg-discont.svg") no-repeat;
    z-index: 20;
  }

  &__percent {
    margin-left: -7px;
    font-size: 24px;
    font-weight: 700;
    text-shadow: 0px 0px 4px #FFB400;
  }

  &__image {
    position: absolute;
    max-width: 100%;
    z-index: 10;
  }
}

.form {
  max-width: 270px;
  padding: 0 20px 9px;
  text-align: center;
  background-color: #ffffff;
  border: 5px solid #f8f8f8;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.07);
  position: relative;

  &::after {
    content: "";
    display: none;
    width: 37px;
    height: 221px;
    position: absolute;
    right: -20px;
    top: 110px;
    background: url("../img/form-arrow.svg") 0 0 no-repeat;
  }

  &__remain {
    color: #ff7000;
    font-weight: 700;
  }

  &__title {
    margin: 11px 0 15px;
    font-size: 16px;
    color: #000000;
    text-align: center;
    line-height: 18px;
  }

  &__prices {
    display: flex;
    justify-content: space-between;
  }

  &__prices-wrapper {
    max-width: 90px;
    min-height: 103px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    color: #999999;

    &:last-child {
      max-width: none;
      color: #ffffff;
      text-align: center;
      background: url("../img/bg-price-new.svg") 50% no-repeat;
    }
  }

  &__old-price {
    margin-bottom: 2px;
    font-size: 13px;
  }

  &__old-amount {
    font-size: 34px;
    font-weight: 300;
    position: relative;

    &::after,
    &::before {
      content: "";
      position: absolute;
      height: 1px;
      width: 87px;
      top: 19px;
      left: 7px;
      display: block;
      background-color: #d0230c;
    }

    &:before {
      transform: rotate(16deg);
    }

    &:after {
      transform: rotate(-16deg);
    }
  }

  &__new-price {
    margin-bottom: 2px;
    font-size: 13px;
  }

  &__new-amount {
    padding: 0 10px;
    font-size: 34px;
    font-weight: 700;
    display: inline-block;
    border-radius: 5px;
  }

  &__currency {
    display: block;
    font-size: 16px;
  }

  .input-wrapper {
    max-width: 220px;
    margin: 15px 0;
    position: relative;
  }

  &__input {
    max-width: 100%;
    display: block;
    border: 1px solid #f0efef;
    color: #666666;
    font-size: 16px;
    line-height: 18px;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.04);
    padding: 23px 25px 23px 55px;
    border-radius: 32px;
    position: relative;
    background: #f6f9f8 url("../img/icon-login.svg") 20px 50% no-repeat;

    &:hover {
      color: #000000;
      cursor: pointer;
    }
  }

  &__submit {
    min-height: 65px;
    width: 100%;
    margin: 7px 0 8px;
    padding: 10px 45px;
    border: none;
    border-radius: 32px;
    background-color: #ff7000;
    background-image: linear-gradient(to top, #ff8900, transparent);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 100% 3px;
    border: 1px solid #ff8900;
    box-shadow:
      0px 3px 0px 0px #ff7000,
      0px 10px 26px -13px #e7501b;
    color: #ffffff;
    font-size: 28px;
    line-height: 22px;
    font-weight: 700;

    &-small {
      display: block;
      line-height: 20px;
      font-size: 17px;
    }

    &:hover,
    &:focus {
      cursor: pointer;
      outline: none;
      background-image:
        linear-gradient(to top, #ff8900, transparent),
        linear-gradient(to right, #ffb400, #ff6000);
      background-size: 100% 3px, auto;
    }
  }

  &__secure {
    width: 211px;
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);

    &-icon {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }

    &-text {
      margin: 0;
      padding-left: 30px;
    }
  }
}

.form .form__input_phone {
  background-image: url("../img/icon-phone-form.svg");
}

.form .form__input_text-wrapper {
  display: block;
  position: relative;
  flex-basis: 550px;

  .form__input {
    width: 100%;
    margin-right: 0;
    padding: 25px 55px 25px 25px;
    background-image: none;
  }
}

.form .form__input_clip {
  width: 70px;
  height: 70px;
  padding-left: 70px;
  background-image: url("../img/icon-clip.svg");
  background-position: 50%;
  background-repeat: no-repeat;
  background-color: transparent; // for IE

  &:hover {
    cursor: pointer;
  }
}

@media (min-width: 1315px) {
  .form::after {
    display: block;
    right: -57px;
  }
}

@media (max-width: 1199px) {
  .hero {
    background: url("../img/bg-promo.png") 50% no-repeat;
    background-size: cover;
  }

}

@media (min-width: 1024px) and (max-width: 1199px) {
  .hero__text {
    max-width: 310px;
  }

  .product {
    min-width: auto;
    width: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-164px, -50%);
    background-position: 100% 55px;
  }

  .product__image {
    width: 85%;
  }

  .product__discont {
    left: 212px;
  }

  .product::before {
    left: 185px;
    bottom: 88px;
  }
  .hero.hero_last {
    min-height: auto;
    padding-bottom: 32px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .hero {
    padding-bottom: 60px;
    background-size: cover;
  }

  .hero-features {
    display: flex;
    flex-direction: column;
  }

  .hero-features__list {
    margin-bottom: 30px;
    display: flex;
  }

  .hero-features__item {
    padding-right: 6px;
    flex: 1;
  }

  .hero__wrapper {
    flex-direction: column;
  }

  .product {
    min-width: auto;
    max-width: 390px;
    margin-top: 32px;
    position: relative;
    left: 50%;
    transform: translate(-332px, 40px);
    bottom: auto;
    background: none;

    &__discont {
      left: 235px;
      top: -34px;
    }

    &__image {
      max-width: 95%;
    }
  }

  .product::before {
    left: 225px;
    bottom: 70px;
  }

  .order-wrapper {
    margin-left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .logo__title,
  .hero__subtitle {
    text-align: center;
  }
}

@media (min-width: 640px) and (max-width: 767px) {
  .hero {
    padding-bottom: 60px;
    background-size: cover;
  }

  .hero-features__item {
    padding-right: 6px;
  }

  .hero-features__list {
    margin-bottom: 30px;
    display: flex;
  }

  .hero-features__text {
    font-size: 16px;
  }

  .hero__wrapper {
    flex-direction: column;
  }

  .bulits {
    justify-content: space-around;

    &__item:last-child {
      margin-top: 20px;
    }
  }

  .product {
    margin: 0 auto 30px;
    position: static;
    transform: translate(0);
  }

  .product__discont {
    left: 286px;
    top: -35px;
  }

  .product::before {
    left: 288px;
    top: 92px;
  }

  .order-wrapper {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .bulits__item:last-child {
    display: none;
  }

  .logo__title,
  .hero__subtitle {
    text-align: center;
  }
}

@media (min-width: 480px) and (max-width: 639px) {
  .product {
    margin: 0 auto 30px;
    position: static;
    transform: translate(0);
  }

  .product__discont {
    left: 286px;
    top: -36px;
  }

  .product::before {
    left: 275px;
    top: 94px;
  }

  .hero__wrapper {
    flex-direction: column;
  }

  .bulits {
    justify-content: space-around;

    &__item:last-child {
      margin-top: 20px;
    }
  }

  .hero {
    padding-bottom: 60px;
    background-size: cover;
  }

  .order-wrapper {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .bulits__item:last-child {
    display: none;
  }

  .logo__title,
  .hero__subtitle {
    text-align: center;
  }
}

@media (min-width: 1200px) and (max-width: 6000px) {
  .hero__text {
    max-width: 365px;
  }
}

@media (max-width: 479px) {
  .logo__title {
    font-size: 50px;
  }

  .product {
    min-width: auto;
    width: 100%;
    height: auto;
    padding-bottom: 30px;
    position: static;
    background: none;
    text-align: center;
    transform: translate(0);
  }

  .product__image {
    width: 250px;
    position: static;
  }

  .product__discont {
    left: 183px;
    top: -35px;
  }

  .product::before {
    display: none;
  }

  .hero__wrapper {
    flex-direction: column;
  }

  .bulits {
    padding-left: 20px;
    flex-direction: column;
    align-items: flex-start;

    &__item:not(:last-child) {
      margin-bottom: 20px;
    }

    &__item:last-child {
      .bulits__text {
        margin-left: 0;
      }
    }
  }

  .hero {
    padding: 30px 0 60px;
    background-size: cover;
  }

  .order-wrapper {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form__submit {
    font-size: 20px;
  }

  .bulits__item:last-child {
    display: none;
  }

  .bulits {
    display: none;
  }

  .logo__title,
  .hero__subtitle {
    text-align: center;
  }

}