.popup {

  &__product {
    width: 430px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
  }

  &__form {
    width: 300px;
    max-width: none;
    border: 1px solid #f3f9f8;
    border-radius: 0px 10px 10px 0px;
  }

  .product {
    min-width: auto;
    height: 257px;
    position: relative;
    left: 0;
    top: 14px;
    text-align: center;
    background: none;
    transform: translate(0);

    &:before {
      left: 240px;
      top: 47px;
    }

    &__discont {
      position: absolute;
      top: -36px;
      left: 251px;
      color: #000;
      background: url("../img/bg-discont-grad.svg") 50% no-repeat;
    }

    &__image {
      max-width: 370px;
      left: 18px;
    }
  }

  .form {
    max-width: none;
    border: none;
    border-radius: 0;

    &__submit {
      max-width: 220px;
      display: block;
      margin: 7px auto 8px;
    }

    .input-wrapper {
      margin: 15px auto;
    }
  }

  .form__prices {
    max-width: 220px;
    margin: auto;
  }

  .form__prices-wrapper {
    min-height: 123px;
    padding-top: 30px;
  }

  .form__prices-wrapper:last-child {
    position: relative;
    background: url("../img/bg-price--.png") 50% 100% no-repeat;

    // &:before {
    //   position: absolute;
    //   top: 0;
    //   left: 50%;
    //   transform: translateX(-51px);
    //   width: 101px;
    //   height: 15px;
    //   background-color: $main-accent-color;
    //   content: "";
    // }
  }
}

.popup__wrapper {
  max-width: 730px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  background-color: #f3f9f8;
}

.ever-popup__inner {
  padding-top: 0 !important;
}

.ever-popup__close {
  width: 18px !important;
  height: 18px !important;
  right: 12px !important;
  top: 6px !important;
}

.ever-popup__close::after,
.ever-popup__close::before {
  width: 18px !important;
  height: 3px !important;
  border-radius: 1px !important;
  background-color: #d8e1e5 !important;
}

@media (max-width: 1200px) {
  .popup .product {
    max-width: 421px;
    min-width: 0;
    width: auto;
    margin-bottom: 0;
    transform: translateY(0);
  }
}

@media (max-width: 735px) {
  .popup .product {
    width: auto;
    transform: translateY(0);
  }
}

@media (max-width: 640px) {
  .popup__wrapper {
    flex-direction: column;
    align-items: center;
  }

  // .popup__form {
  //   width: 240px;
  // }

  // .ever-popup__close {
  //   right: 3px !important;
  // }
}

@media (max-width: 479px) {

  .popup__wrapper {
    max-width: 300px;
  }

  .product__image {
    width: auto;
  }
}

@media (min-width: 1024px) and (max-width: 1200px) {
  .popup .product__image {
    width: auto;
  }
}

@media (max-width: 1023px) {
  .popup__product {
    display: none;
  }
}