.popup_active {
  display: block;
}

.popup {
  // display: none;
  // padding: 10px 50px;
  // position: fixed;
  // left: 0;
  // top: 0;
  // width: 100%;
  // height: 100%;
  // justify-content: center;
  // align-items: center;
  // background-color: rgba(0, 0, 0, 0.5);
  // z-index: 998;

  &__product {
    width: 422px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
  }

  &__form {
    width: 300px;
    max-width: none;
    border: 1px solid #f3f9f8;
    border-radius: 0px 10px 10px 0px;
  }


  // &__close {
  //   width: 20px;
  //   height: 20px;
  //   display: flex;
  //   align-items: center;
  //   position: absolute;
  //   top: 5px;
  //   right: 5px;
  //   transform: rotate(45deg);
  //   color: #d8e1e5;
  //   font-size: 35px;

  //   &:hover {
  //     cursor: pointer;
  //   }
  // }

  .product {
    min-width: auto;
    position: relative;
    left: 0;
    top: 0;
    text-align: center;
    background: none;

    &__discont {
      position: absolute;
      top: -36px;
      right: 70px;
      color: #000;
    }

    &__image {
      max-width: 100%;
    }
  }

  .form {
    max-width: none;
    border: 1px solid #f3f9f8;
    border-radius: 0;

    &__submit {
      max-width: 220px;
      display: block;
      margin: 7px auto 8px;
    }

    .input-wrapper {
      margin: 15px auto;
    }
  }
}

.popup__wrapper {
  max-width: 730px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  background-color: #f3f9f8;
}

.ever-popup__inner {
  padding-top: 0 !important;
}

.ever-popup__close {
  width: 18px !important;
  height: 18px !important;
  right: 5px !important;
  top: 6px !important;
}

.ever-popup__close::after,
.ever-popup__close::before {
  width: 22px !important;
  height: 3px !important;
  border-radius: 1px !important;
  background-color: #d8e1e5 !important;
}


@media (max-width: 479px) {

  .popup__wrapper {
    max-width: 300px;
  }

  .product__image {
    width: auto;
  }
}

@media (max-width: 640px) {
  .popup__wrapper {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 735px) {
  .popup .product {
    width: auto;
    transform: translateY(0);
  }
}

@media (min-width: 1024px) and (max-width: 1200px) {
  .popup .product__image {
    width: auto;
  }
}

@media (max-width: 1023px) {
  .popup__product {
    display: none;
  }
}


@media (max-width: 1200px) {
  .popup .product {
    max-width: 421px;
    min-width: 0;
    width: auto;
    margin-bottom: 0;
    transform: translateY(0);

    &__image {
      max-width: 100%;
    }
  }
}