.reasons {
  text-align: center;

  &__footer {
    font-size: 23px;
    line-height: 28px;
    color: #000000;
  }
  &__footer-text {
    margin: 0 0 25px;
  }
}

.reasons-list {
  margin-bottom: 31px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  position: relative;

  &:before {
    content: "";
    width: 15px;
    height: 15px;
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%) rotate(-45deg);
    border-left: 1px solid rgba(0, 0, 0, .1);
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    background-color: #fff;
  }

  &__item {
    max-width: 270px;
    margin-bottom: 50px;
  }

  &__item-image {
    display: block;
  }

  &__item-wrapper {
    border: 5px solid #eff2f1;
    border-radius: 7px 7px 0px 0px;
    position: relative;

    &::before {
      content: "";
      display: block;
      height: 5px;
      width: 30px;
      position: absolute;
      top: -5px;
      left: 50%;
      transform: translateX(-50%);
      background-color: $main-accent-color;
    }
  }

  &__item-title {
    font-size: 19px;
    font-weight: 700;
    line-height: 24px;
  }

  &__item-description {
    font-size: 18px;
    line-height: 24px;
  }

  &__link {
    width: 34px;
    height: 34px;
    position: absolute;
    bottom: -17px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    font-size: 15px;
    color: #ffffff;
    font-weight: 900;
    box-shadow: 0px 0px 0px 6px rgba(244, 230, 208, .5);
    background-color: $color-attention;
    background-image: url("../img/arrow-down-white.png");
    background-position: 50%;
    background-repeat: no-repeat;

    &:hover {
      box-shadow: 0px 0px 0px 10px rgba(244, 230, 208, 0.5);
    }
  }
}

.attention {
  margin-bottom: 11px;
}

@media (max-width: 767px) {
  .reasons-list__item {
    margin-bottom: 10px;
  }
}

@media (min-width: 1200px) {
  .reasons-list__item {
    margin-bottom: 0;
    padding-bottom: 35px;
  }
}