.section {
  padding: 100px 0;
  position: relative;

  &__title {
    margin: 0 auto 92px;
    text-align: center;
    color: #000000;
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
  }

  &__subtitle {
    margin-bottom: 40px;
    font-size: 20px;
    line-height: 18px;
  }
}
.components.section {
  padding-bottom: 0;
}

@media (max-width: 479px) {
  .section__title {
    font-size: 30px;
  }
}