.section {
  padding: 90px 0 86px;
  position: relative;

  &__title {
    margin: 0 auto 30px;
    text-align: center;
    color: #000000;
    font-size: 40px;
    font-weight: 700;
    line-height: 45px;
  }

  &__subtitle {
    margin-bottom: 40px;
    font-size: 20px;
    text-align: center;
    line-height: 18px;
  }
}

.doctor.section {
  padding-bottom: 0;
}

.components.section {
  padding-bottom: 0;
}

.review.section {
  padding-bottom: 128px;
}

.how.section {
  padding-bottom: 110px;
}

.hero.hero_last {
  padding-top: 104px;
}

@media (max-width: 1199px) {
  .section {
    padding: 50px 0;
  }

  .review.section {
    padding-bottom: 80px;
  }

  .hero.hero_last {
    padding: 50px 0;
  }
  .components__wrapper {
    padding-bottom: 50px;
  }
}

@media (max-width: 1023px) {
  .how.section {
    padding: 40px 0;
  }

  .how .section__title {
    margin-bottom: 25px;
  }

  .section {
    padding: 40px 0;
  }

  .review.section {
    padding-bottom: 70px;
  }

  .hero.hero_last {
    padding: 40px 0 60px;
  }

  .components__wrapper {
    padding-bottom: 40px;
  }

  .section__title {
    margin-bottom: 10px;
  }
  .order .section__title {
    margin-bottom: 25px;
  }
}

@media (max-width: 767px) {
  .how.section {
    padding: 35px 0;
  }

  .section {
    padding: 35px 0;
  }

  .review.section {
    padding-bottom: 65px;
  }

  .hero.hero_last {
    padding: 35px 0 60px;
  }

  .components__wrapper {
    padding-bottom: 35px;
  }


  .section__title {
    font-size: 35px;
    line-height: 38px;
  }
}

@media (max-width: 479px) {
  .how.section {
    padding: 30px 0;
  }

  .section {
    padding: 30px 0;
  }

  .review.section {
    padding-bottom: 60px;
  }

  .hero.hero_last {
    padding: 30px 0 50px;
  }

  .components__wrapper {
    padding-bottom: 30px;
  }

  .section__title,
  .fast .fast__title {
    font-size: 30px;
    line-height: 30px;
  }
}