.section {
  padding: 90px 0 86px;
  position: relative;

  &__title {
    margin: 0 auto 30px;
    text-align: center;
    color: #000000;
    font-size: 40px;
    font-weight: 700;
    line-height: 45px;
  }

  &__subtitle {
    margin-bottom: 40px;
    font-size: 20px;
    text-align: center;
    line-height: 18px;
  }
}

.components.section {
  padding-bottom: 0;
}

.review.section {
  padding-bottom: 128px;
}

.how.section {
  padding-bottom: 110px;
}

.hero.hero_last {
  padding-top: 104px;
}

@media (max-width: 479px) {
  .section__title {
    font-size: 30px;
  }
}

@media (max-width: 1023px) {
  .section {
    padding: 50px 0;
  }

  .section__title {
    margin-bottom: 10px;
  }
}